/* .navBlock li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBlock li a {
    text-decoration: none;
    color: #000;
}

.navBlock ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
} */