* {
    padding: 0;
    margin: 0;
}

.menu > li > a {
    text-decoration: none;
    color: green;
}

.menu > li {
    list-style: none;
    border: 1px solid grey;
    padding: 10px;
    margin: 5px;
}

.header {
    margin: 10px;
}

.menu > li:hover {
    background-color: lightgrey;
}